form{
  position:fixed;

  left:17%;
  width:63%;
  height: 460px;
  background-color: rgba(230, 230, 230, 0.71);
  border: 1px solid  rgba(106, 141, 173, 0.71);;
  border-radius: 25px;
}

h3{

  background-color: transparent;
  color: #213E8D;
  border-bottom: 1px solid #213E8D;
  text-align: center;
  vertical-align: middle;


}


label{

  margin-left: 8px;
  color: #213E8D;
}
