<div class="col-11 offset-2">
  <div class="row">
    <ul>
      <li>
        <a [routerLink]="['list-client']">VER CLIENTES</a>
      </li>
      <li>
        <a [routerLink]="['list-product']">VER PRODUTOS</a>
      </li>
      <li>
        <a [routerLink]="['list-sale']">VER VENDAS</a>
      </li>
      <li>
        <a [routerLink]="['add-client']">ADICIONAR CLIENTES</a>
      </li>
      <li>
        <a [routerLink]="['add-product']">ADICIONAR PRODUTOS</a>
      </li>
      <li>
        <a [routerLink]="['add-sale']">ADICIONAR VENDAS</a>
      </li>
    </ul>

  </div>
</div>
